Repository exadel-inc/esl, pull requests merged in 2024-06, with the labels that each got.

#2453 fix(lint): notify about version differences for `eslint-plugin-esl`
  eslint/package.json
  eslint/src/core/check-version.ts
  eslint/src/index.ts
  package-lock.json
Labels: maintenance, needs review

#2464 chore(site): add a rule to disallow direct imports from library source in subpackages
  .eslintrc.yml
  linting/site.eslintrc.yml
  site/views/_includes/navigation/footer.njk
Labels: site, needs review

#2472 fix(esl-carousel): add possibility to hide controls according to closest container state
  src/modules/esl-carousel/core/esl-carousel.less
  src/modules/esl-carousel/plugin/nav/esl-carousel.nav.arrows.less
Labels: bug, needs review

#2476 docs(esl-carousel): esl-carousel demo page (UIP)
  site/src/common/helpers.less
  site/src/esl-carousel-demo/test-carousel.less
  site/src/localdev.less
  site/views/draft/carousel.11tydata.yml
  site/views/draft/carousel.njk
  site/views/examples/carousel.marquee.11tydata.yml
  site/views/examples/carousel.marquee.njk
  site/views/examples/carousel.njk
  site/views/examples/carousel/default.sample.njk
  site/views/examples/carousel/nav-carousel.sample.njk
  site/views/examples/carousel/siblings.sample.njk
  site/views/examples/carousel/single.sample.njk
  src/modules/esl-carousel/core/esl-carousel.less
Labels: site, needs review

#2479 fix(esl-carousel): fix incorrect alignment of the grid carousel renderer if there are no enough slides
  src/modules/esl-carousel/renderers/esl-carousel.grid.renderer.less
  src/modules/esl-carousel/renderers/esl-carousel.grid.renderer.ts
Labels: bug, needs review

#2357 chore(site): rework `esl-popup` game demo page using ui playground
  site/src/esl-popup/esl-d-popup-game.less
  site/src/esl-popup/esl-d-popup-game.ts
  site/src/localdev.less
  site/views/draft/popup-game.njk
Labels: enhancement, site, needs review
